/* Exemplo de estilos no style.css */
body {
    font-family: Arial, sans-serif;
    background-image: linear-gradient(45deg, cyan, rgb(15, 1, 1))

}

#container{
    background-color: rgb(237, 237, 243);
    position:absolute;
    padding: 80px;
    border-radius: 15px;
    color: #000;
    padding: 80px;
    border-bottom-left-radius: 15px;

}

h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #020202;
} 

h3 { color: #000000;

}

button{
    background-color: green;
    color: rgb(0, 3, 3);
    padding: 20px;
    border: none;
    border-radius: 10px;
    font-size: 20px;
}

input{
     padding: 10px;
     color: rebeccapurple;
}
p {
    font-size: 18px;
    color: #ec0b0b;
}
 
id {
    color: red;
}
