/* Exemplo de estilos no style.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f5eeee;
}

h1 {
    color: #0408f8;
} 

h2 {color: #f00db7;
   
}

h3 { color: #000000;

}

button{
    color: rgb(0, 3, 3);
}

p {
    font-size: 18px;
    color: #666;
}

