/* Exemplo de estilos no style.css */
body {
    font-family: Arial, sans-serif;
    background-image: linear-gradient(45deg, rgb(245, 243, 243), rgb(40, 238, 33))

}
#paginaCadastro{
    background-color: rgba(0, 0, 0, 0.3);
    padding: 50px;
    position: absolute;
    border-radius: 15px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#paginaCadastro button[type="submit"]{
    width: 100%;
}
#paginaCadastro{
    
    background-image: url('/imagens/gatos.jpg');
    position: absolute;
    border-radius: 15px;
    color: #000;
    padding: 20px;
    border-bottom-left-radius: 15px;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 0px, 4px, 8px rgba(0, 0, 0, 0.3);
    background-position: center;
    width: 80;
    background-color: rgba(0, 0, 0, 0.3);
    opacity: 5;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}

#container{
    background-image: url('/imagens/gatos.jpg');
    position:absolute;
    border-radius: 15px;
    color: #000;
    padding: 20px;
    border-bottom-left-radius: 15px;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 0px, 4px, 8px rgba(0, 0, 0, 0.3);
    background-position: center;
    width: 80;
    background-color: rgba(0, 0, 0, 0.3);
    opacity: 5;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

h1 {
   color: rgb(10, 10, 10);
} 

h3 { color: #000000;

}

button{
    background-color: rgb(218, 230, 218);
    color: rgb(0, 3, 3);
    padding: 20px;
    border: none;
    border-radius: 10px;
    font-size: 20px;
}

input{
     padding: 10px;
     color: rgb(17, 16, 16);
}
p {
    font-size: 18px;
    color: #f8eded;
}
 
id {
    color: red;
}
